@import "variables.scss";

.log-editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__text-area {
        padding: 1vh;
        background-color: black;

        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        * {
            font-family: Tahoma;
            font-weight: bold;
            transform: scale(1, .95);
            line-height: 1.4;
        }
    }
}