@import "variables.scss";

.log-editor {
    background-color: $color-background-2;
    min-height: 80vh;
    width: 1600px;
    transition: .5s;

    &.big {
        max-width: calc(1550px + 2vh);
    }
    &.normal {
        max-width: calc(1200px + 2vh);
    }
    &.small {
        max-width: calc(1000px + 2vh);
    }

    display: flex;

    &__leftSide {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;

        select {
            background-color: $color-background-1;
            margin: 1vh;
            text-align: center;
            padding: 1vh;
            font-size: 35px;
        }

        textarea {
            background-color: $color-background-1;
            margin: 1vh;
            width: calc(100% - 2vh);
        }

        label {
            width: fit-content;
        }
    }

    &__rightSide {
        width: 50%;
        padding: 1vh;
        
        display: flex;
        flex-direction: column;
        gap: 1vh;

        .settings {
            display: flex;
            align-items: center;
            gap: 1vh;
        }

        select {
            padding: 1vh;
            background-color: $color-background-1;
        }

        .text-area {
            padding: 1vh;
            background-color: black;

            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;

            * {
                font-family: Tahoma;
                font-weight: bold;
            }

            p.biggest {
                font-size: 16px;
            }
            p.big {
                font-size: 14px;
            }
            p.normal {
                font-size: 12px;
            }
            p.small {
                font-size: 10px;
            }
        }
    }
}