@import "variables.scss";

.skeleton {
    .characterName, .albumName {
        min-width: 15rem;
        min-height: 2.25rem;
    }

    .avatar, .characterName, .albumName, .heart, &__child {
        animation: skeleton-loading 1s linear infinite alternate;
    }

    .avatar {
        background-color: transparent;
    }

    .heart {
        min-height: 55px;
    }

    img, p {
        opacity: 0;
    }
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@keyframes skeleton-loading {
    0% {
        @include background-opacity($color-main, 0.5);
    }
    100% {
        @include background-opacity($color-main, 0.8);
    }
}