@import "variables.scss";

main {
    background-color: $color-background-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    overflow: hidden;

    h1 {
        text-align: center;
        font-size: 48px;
    }

    .divider {
        height: 10px;
        width: 2000%;
        background-color: $color-background-1;
    }

    .scrollWrapper {
        gap: 2vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        div:last-child:nth-child(odd) {
            transform: translateX(calc(50% + 1vh));
        }
    }
}