@import "variables.scss";

main.upload {
    background-color: $color-background-2;
    width: 1250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;

    input {
        width: 40%;
        font-size: 46px;
        background-color: $color-background-1;
        border: 1vh $color-background-1 solid;
    }

    .characterSection {
        display: flex;
        align-items: center;
        gap: 2vh;

        select {
            font-size: 46px;
            background-color: $color-background-1;
            border: 1vh $color-background-1 solid;
            text-align: center;
        }

        p {
            font-size: 46px;
            cursor: pointer;
        }
    }

    .uploadSection {
        width: calc(100% - 4vh);
        min-height: 330px;
        background-color: $color-background-1;
        padding: 2vh;

        display: grid;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vh;

        cursor: pointer;

        img:last-of-type:nth-child(odd) {
            position: relative;
            left: 50%;
        }

        &.empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5vh;

            p {
                font-size: 38px;
            }

            img {
                left: 0 !important;
            }
        }
    }

    button {
        padding: 2vh;
        font-size: 40px;
        background-color: $color-background-1;
    }
}